################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/Kavenegar.Otp/obj
/Source/Kavenegar.Otp/bin/Debug
/Test/Kavenegar.Otp.Units/obj
/Test/Kavenegar.Otp.UnitTests/bin/Debug/net8.0
/Test/Kavenegar.Otp.UnitTests/obj
/Test/Kavenegar.Otp.IntegrationTests/bin/Debug/net8.0
/Test/Kavenegar.Otp.IntegrationTests/obj
/.vs/Kavenegar.Otp/v17
/Source/Kavenegar.Otp/.vs/Kavenegar.Otp/DesignTimeBuild
*.vsidx
/Source/Kavenegar.Otp/.vs/Kavenegar.Otp/FileContentIndex/3eeff33f-b023-4e32-8be5-e3750b006795.vsidx
/Source/Kavenegar.Otp/.vs/Kavenegar.Otp/v17/.futdcache.v2
/Source/Kavenegar.Otp/.vs/Kavenegar.Otp/v17/.suo
/Source/Kavenegar.Otp/logo.png
